body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #F9F7E8;
	}
img {
    vertical-align: middle;
    width: 350px;
  	height: 150px;
 	object-fit: cover;
 	align-items: center;
 	justify-content: center;
}

input{border-radius:3px;border:1px solid lightgray}

input.join {
    width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	display: inline-block;
	border: 1px solid lightgray;
	background: #F9F7E8;
	border-radius: 2px;
   
}


input[type=text]:focus, input[type=password]:focus {
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
    outline: none;
}



button:hover {
    opacity:1;
    
}
button:focus{
   outline:none;
}

/* 취소 버튼*/
button.cancelbtn {
    background-color: #61BFAD;
}
button.submitbtn {
	background-color: #FF8B8B;
}
button.cancelbtn, .submitbtn {
 	float: left;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer; /* 손가락 커서 모양 */
    width: 50%;
    opacity: 0.9;
}

form {
    background-color: #F9F7E8;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    width: 600px; /* Could be more or less, depending on screen size */
    padding: 16px;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
 
b + div{width: 100%;
    padding: 10px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table; 
}

h1{text-align:center}

b {
	width: 100%;
	display: block
}

span{display:inline-block;margin-top:-20px;font-size:10px}